<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
  	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

  	<style type="text/css">
  		h3, h5, a {
		  color: #9c07b6;
		  font-family: 'Courier Prime', monospace;
		}
  	</style>

</head>
<body>

	<h3>Please verify your email</h3>

	<!--Create a url that contains the uidb64 & token-->
	<h4><a href="{{domain}}{% url 'users:verification' uidb64=url_safe token=token %}" >Click here to verify</a></h4>

</body>
</html>
