{% extends 'users/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block extend_nav %}

<ul class="sidenav">
  <li><a href="{% url 'users:sign-in' %}">Demo Sign In</a></li>
  <li><a href="{% url 'users:sign-up' %}">Demo Sign Up</a></li>
  <li><a class="active" href="javascript:void(0)">Demo Forgotten Password</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Django Google Places API Demo - Forgotten Password</h3>

<div class="container">

  <form id="requestpasswordform" method="POST" action="/forgotten-password">
    {% csrf_token %}
    <label for="email">Username</label>
    {{rp_form.email}}

    <button type="submit">Request New Password</button>
  </form>

  {{rp_form.errors}}

</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}