{% extends 'users/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block extend_nav %}

<ul class="sidenav">
  <li><a class="active" href="javascript:void(0)">Change Password</a></li>
  <li><a href="{% url 'users:sign-in' %}">Demo Sign In</a></li>
  <li><a href="{% url 'users:sign-up' %}">Demo Sign Up</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Django Google Places API Demo - Update Password</h3>

<div class="container">

  <form id="updatepasswordform" method="POST" action="/verification/{{uidb64}}/{{token}}/">
    {% csrf_token %}

    <label for="new_password1">Password</label>
    {{fp_form.new_password1}}

    <label for="new_password2">Confirm Password</label>
    {{fp_form.new_password2}}

    <label class="check-container">Show Password
     <input type="checkbox" onclick="showPword()">
     <span class="checkmark"></span>
   </label>

   <button type="submit">Update Password</button>
 </form>

 {{fp_form.errors}}

</div>

{% endblock %}

{% block extend_footer %}


{% endblock %}